html {
  font-size: 16px;
}

header {
  width: 100%;
  background: #FFF546;
  text-align: center;
  background-image: radial-gradient(ellipse closest-corner at 50% 250% , rgb(255, 255, 255) 99.5%, #FFF546 0);
  padding-bottom: 4rem;
  position: fixed;
  top: 0;
  z-index: 10;
}

header .logo, header h1 {
  display: inline-block;
  margin:0 auto;
  background-color: #22A022;
  text-align: center;
  height: 100%;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  padding: 0.3rem 0;
  margin-bottom: -0.667rem;
  color: White;
  font-size: 3rem;
  font-weight: 400;
}

header .logout {
  display: inline-block;
  position: absolute;
  right: 6rem;
  top: 2rem;
  text-decoration: none;
  color: #22A022;
}

header .logout span {
  font-size: 2rem;
}

header .logo {
  color: white;
  text-decoration: none;
  padding: .5rem 1rem;
  font-family: 'capsuularegular';
}

body {
  background:url(../images/skyline.png) bottom right no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.container {
  margin: auto;
  width: 100%;
}

.container .content {
  max-width: 80rem;
  margin: auto;
  margin-top: 9rem;
  padding-bottom: 6rem;
}

.container .content > p{
  color: red;
  text-align: center;
}
header > .contact {
  position: fixed;
  left: 1rem;
  top: 1rem;
}
.container .content > div {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
}

.item {
  background-color: rgba(255,255,255,0.5);
}

.feed-items {
  margin:0;
  padding: 0;
}

.feed-item {
  list-style-type: none;
  height: 2.5rem;
  font-size: 1rem;
  padding: .5rem;
  margin-bottom: 1rem;
  border: 0.1rem dashed #FFF546;
  border-radius: 2rem;
}

.feed-item .react-gravatar {
  margin-right: 1rem;
  /*padding:.5rem;
  background: #FFED06;
  margin-top: -0.5rem;
  margin-left: -0.5rem;*/
}

.checkin-item {
    list-style-type: none;
    height: 3rem;
    font-size: 1.5rem;
    background-color: rgba(255, 245, 70, .8);
    margin-bottom: 1rem;
    border-radius: 1rem;
}
.checkin-item:nth-of-type(2n+1) {
  background-color: rgba(255, 237, 6, .8);
}

.checkin-item a {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-top: .3rem;
  display: inline-block;
}

.checkin-item .foursquare-icon {
  margin-left: .5rem;
  background-color: #AAAAAA;
  height: 2.5rem;
  margin-bottom: .2rem;
}

.icon.disabled > span {
  color: #eee;
}

@-moz-keyframes whirly-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes whirly-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes whirly-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading {
  text-align: center;
}

.icon-spinner2:not(:required) {
  position: relative;
  display: inline-block;
  background: transparent;
  -moz-animation: whirly-loader 1.25s infinite linear;
  -webkit-animation: whirly-loader 1.25s infinite linear;
  animation: whirly-loader 1.25s infinite linear;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  color: #22A022;
}

nav {
  margin: auto;
  text-align: center;
}

.nav-container {
  border-top-left-radius: 95%;
  border-top-right-radius: 95%;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 245, 70, .8);
}

.nav-button {
  text-decoration: none;
  display: inline-block;
  padding: .2rem;
  margin: .2rem;
  border-left: 0.0625rem solid #aaa9aa;
  border-right: 0.0625rem solid #aaa9aa;
  border-radius: 2.5rem;
  box-shadow: 0.0625rem 0.0625rem 0.3125rem #999;
  color: #22A022;
  width: 5rem;
  background-color: #FFF546;
}

.nav-button.active {
  box-shadow: -.1rem -.2rem 0.2rem #999;
  background-color: #FFD046;
  color: #508050;
}

.nav-button .icon-checkin2 {
  font-size: 5.5rem;
  display: inline-block;
  background-image: radial-gradient(3rem at 50% 25% , #fff 30%, #FFF546 45%);
}

.nav-button.active .icon-checkin2 {
  background-image: radial-gradient(3rem at 50% 25% , #fff 30%, #FFD046 45%);
}

.nav-button#checkin {
  margin-top: -1rem;
  border-top: 0.0625rem solid #aaa9aa;
}

.react-gravatar {
  border-radius: 2rem;
  width: 2.5rem;
  height: 2.5rem;
}

.foursquare-icon {
  background-color: #999;
  border-radius: 2rem;
  margin-right: 1rem;
  height: 4rem;
}

.google-maps {
  position: relative;
  background-color: #E5E3DF;
  overflow: hidden;
  height: 37.5rem;
  width: 37.5rem;
  margin: auto;
}
