@import './main.css';
@import './normalize.css';

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

header, .nav-container {
  height: 100%;
  background: #FFFF55;
  text-align: center;
}

header a, header h1 {
  display: inline-block;
  margin:0 auto;
  background-color: ForestGreen;
  text-align: center;
  height: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 5px 0;
  margin-bottom: -10px;
  color: White;
  z-index: 9999;
}

header a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 80%;
  margin: auto;
}

nav {
  margin: auto;
  text-align: center;
}
